/* @CHARSET "ISO-8859-1"; */
.nav {
	list-style-type: none;
	position: fixed;
	height: 100px;
	background-color: #194d33;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-top: 0px;
	overflow: hidden;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
	background-color: #111;
}

li.right {
	float: right;
	/* width: 300px; */
	/* border: 3px solid #73AD21; */
	padding: 0;
}

.movie-item {
	float: left;
	padding: 50px;
}

.row {
	width: 100%;
	min-height: 500;
}

#footer {
	text-align: center;
	overflow: hidden;
	list-style-type: none;
	position: fixed;
	height: 50px;
	background-color: #194d33;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}

body {
	font-size: 15px;
	font-family: sans-serif, Verdana, Tamoha;
	/* background-image: url(../images/bg.jpg); */
}

li>img {
	width: 100px;
	height: 100px;
}

.container {
	margin: auto;
	margin-top: 150px; 
	width : 80%;
	border-radius: 20px;
	overflow: hidden;
	/* border: 4px solid gray; */
	width: 80%;
}